

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-scroller-inner);
}

.scroller[data-animated="true"] {
    overflow: hidden;
    --webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

/*Quiero hacer este keyframes global*/

.scroller__inner img {
    max-width: 100%;
    height: 80px;
    transition: all 0.3s ease;
}

@media(hover) {
    .scroller__inner img:hover {
        transform: scale(1.1);
    }
}

/*For small devices*/
@media screen and (max-width: 1000px) {
    .scroller__inner img {
        height: 50px;
    }
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding-block: 5rem;
}

.scroller-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

@media only screen and (min-width: 1400px) {
    .scroller__inner img {
        height: 5vw;
    }
}